body {
    background-color: ;
    color: ;
}

header{
    background-color: ;
}

nav a {
    color: ;
}

nav a:hover {
    color: ;
    }

h1 {
    color: ;
}

h2 {
    color: ;
}

footer{
    background-color: ;
    color: ;
}

footer span {
    color: ;
}